<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Two Buttons with Color Change</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='Or/or.css') }}">
</head>
<body>
    
  <div class="button-container">
    <a href="{{ url_for('Survey') }}" id="button1" class="color-button">Generate Track</a>
    <a href="{{ url_for('official_survey') }}" id="button2" class="color-button">Travel Agency Track</a>
  </div>
  <script src="{{ url_for('static', filename='Or/or.js') }}"></script>
</body>
</html>
