<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>시끌시끌 - 프로필</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🚲</text></svg>">
    <link rel="stylesheet" href="../static/Profile/profile_style.css">
    <link rel="stylesheet" href="../static/Menu/menu_style.css">
    <script src="../static/Menu/menu_script.js"></script>
</head>
<div class="header">
    <div class="hamburger-menu" id="hamburger-menu">&#9776;</div>
    <div class="logo_container">
        <img src="/picture/logo/logo.png" alt="logo" class="logo" />
    </div>
    <nav class="sidebar" id="sidebar">
        <ul class="sidebar-nav">
            <li class="nav-item"><a href="../" class="nav-link">홈</a></li>
            <li class="nav-item"><a href="#" class="nav-link">설정</a></li>
        </ul>
    </nav>
  </div>
<body>
  <!-- 프로필 내용 -->
  <section class="content">
    <div class="profile-details">
      <h3>Account info</h3>
      <br>
        <table>
            <tr>
                <td>Username:</td>
                <td>{{ account['username'] }}</td>
            </tr>
            <tr>
                <td>Password:</td>
                <td>******</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{ account['email'] }}</td>
            </tr>
        </table>
    </div>
    <div class="profile-tracks">
        <h3>Track List</h3>
        {% if tracks %}
            {% for track in tracks %}
                <div class="track-item-container" onclick="location.href='/Journey?track_id={{ track.id }}'">
                    
                    <div class="track-info">
                        <p>Date of creation: {{ track.created_at }}</p>
                        <p>Place: {{ track.track_places }}</p>
                        <p>Start Date: {{ track.start_date or '미지정' }}</p>
                        <p>End Date: {{ track.end_date or '미지정' }}</p>
                        <p>Track type: {{ track.track_type or '미지정' }}</p>
                    </div>
                    <!-- <button class="delete-btn" onclick="confirmDelete(event, {{ track.id }})">삭제</button> -->
                </div>
            {% endfor %}
        {% else %}
            <p>아직 저장된 트랙이 없습니다.</p>
        {% endif %}
    </div>
    <a href="{{ url_for('logout') }}" class="logout-btn">로그아웃</a>
  </section>
</body>
</html>
